# Compiled files
*.class
build/
out/

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# IDEA
/.idea/
*.iml

# gradle
.gradle/
gradle/wrapper/*
!gradle/wrapper/gradle-wrapper.properties

